<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8UyUGcLKWaaAqU06LXn9JCdewZGxF7Rs</string>
	<key>GCM_SENDER_ID</key>
	<string>1045056283233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hoyNoCirculas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hoy-no-circulas-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>hoy-no-circulas-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045056283233:ios:45bda11dc13880884e0020</string>
</dict>
</plist>